
<div class="form-new-container">
  <div class="form-new">
    <h1 class="title-f">New group</h1>
    
    <%= render "form", group: @group %>

    <br>

    <div>
      <%= link_to "Back to groups", groups_path %>
    </div>
  </div>
</div>