@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  height: 60px;
}

nav {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #69e90e;
  font-size: 30px;
}

.logo-section {
  color: white;
}

#logout-button .button_to button {
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  border: solid black 1px;
  border-radius: 0.25rem;
  transition: 0.2s;
  color: aliceblue;
  cursor: pointer;
}

#logout-button .button_to button:hover {
  background-color: rgba(255, 255, 255, 0.425);
  transform: scale(1.1);
}

.splash_screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.name {
  font-family: 'Bona Nova', serif;
  color: #3778c2;
  font-size: 50px;
}

.splash_buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.app_button {
  background-color: #3778c2;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}

.app_button:hover {
  background-color: rgb(136, 148, 159);
}

.app_categories-button {
  background-color: #3778c2;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 60px;
}

.link_btn {
  color: #f9f9f9;
}

/* categories */

.section {
  width: 100%;
  background-color: #3778c2;
  color: #f9f9f9;
  text-align: center;
  border-top: #5f92cb 1px solid;
  padding: 5px;
}

.groups-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 82vh;
  width: 100%;
  margin-top: 50px;
}

.g-icon {
  width: 70px;
}

.groups {
  display: flex;
  width: 85%;
  padding: 4px;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: black 1px solid;
}

.card_info {
  flex: 1;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.Add-cat {
  position: fixed;
  background-color: #5fb523;
  width: 100%;
  padding: 15px;
  text-align: center;
  bottom: 0;
}

.cat {
  color: #f9f9f9;
  font-size: 30px;
}

.expenses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 25px;
}

.card-expense {
  width: 85%;
  display: flex;
  justify-content: space-between;
  border: black 1px solid;
  border-radius: 5px;
}

.expenses {
  margin-top: 25px;
  width: 80%;
}

.new-expense {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 25px;
  background-color: #5fb523;
  width: 100vw;
}

.new-expense a {
  color: #f9f9f9;
  font-size: 30px;
}

.expense-info {
  flex: 1;
}

.expense-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #3778c2 1px solid;
  width: 100%;
  margin-top: 24px;
  padding: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #3778c2;
}

.form-container h2 {
  color: #f9f9f9;
  font-family: 'Bona Nova', serif;
  font-size: 30px;
}

.new_user {
  margin: 50px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-new-container form label {
  color: #f9f9f9;
  font-family: 'Bona Nova', serif;
  font-size: 20px;
  margin-top: 4px;
}

.new_user .field label {
  color: #f9f9f9;
  font-family: 'Bona Nova', serif;
  font-size: 15px;
}

.actions input {
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  border: solid black 1px;
  border-radius: 0.25rem;
  transition: 0.2s;
  color: aliceblue;
  cursor: pointer;
}

.form-new-container form input {
  background: #f9f9f92d;
  padding: 0.5rem;
  margin-top: 12px;
  font-size: 1rem;
  border: solid black 1px;
  border-radius: 0.25rem;
  transition: 0.2s;
  color: rgb(5, 5, 5);
  cursor: pointer;
}

.new_user .field input {
  margin: 12px 12px;
  padding: 5px;
}

.form-container a {
  background: none;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.25rem;
  transition: 0.2s;
  color: aliceblue;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  font-family: 'Bona Nova', serif;
  font-size: 15px;
}

.form-new-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #5893dc;
}

.title-f {
  margin-bottom: 50px;
  color: #f9f9f9;
  font-family: 'Bona Nova', serif;
}

.form-new {
  margin-bottom: 50px;
}
